<%- include('../partials/header'); %>

<main>
    <section>
        <h2><%= name %></h2>
        <p><%= last name %></p>
        <p><%= first name %></p>
    </section>
</main>

<%- include('../partials/footer'); %>