<%- include('../partials/header'); %>

<main>
    <section>
        <h2><%= name %></h2>
        <p><%= data.release_year %></p>
        <p><%= data.rating %></p>
        <p><%= data.description %></p>
    </section>
</main>

<%- include('../partials/footer'); %>